{% extends 'base.html.twig' %}

{% block title %}Forecast{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
    <div class="card table-container mt-5">
        <div class="card-header">
            <h1 class="text-center">{{ project.name }}</h1>
        </div>
        <div class="card-body">
            {% for item in table %}
                <div class="">
                    {% for envelope in item.envelope %}
                        {{ include('app/forecast/_envelope.html.twig', {
                            envelope: envelope
                        }) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
