{% extends 'base.html.twig' %}

{% block title %}Forecast{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/table.css') }}">
{% endblock %}

{% block body %}
    <div class="mt-5">
        <div class="">
            <h1 class="text-center">{{ project.name }}</h1>
            <a class="btn btn-primary d-block m-auto add-item" data-code="env" data-pro="{{ project.id }}">Add Envelope</a>
        </div>
        <div class="">
            <div id="forecast_table" class="d-flex w-content position-absolute" style="left: 0; opacity: 1;">
                {{ include('app/forecast/_table.html.twig', {
                    table: table
                }) }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal_content">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% include('app/forecast/js/_functions.js.html.twig') %}
{% include('app/forecast/js/_events.js.html.twig') %}
{% endblock %}