{% extends 'base.html.twig' %}

{% block title %}New RowVirtual{% endblock %}

{% block body %}
    <h1>Create new RowVirtual</h1>

    {{ include('app/row_virtual/_form.html.twig') }}

    <a href="{{ path('app_row_virtual_index') }}">back to list</a>
{% endblock %}
